<a href="https://colab.research.google.com/github/urfa10/MSIB_Dasar-Python/blob/main/session_4_interation_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iteration
## For Loop

In [ ]:
# contoh syntax for loop
for target in iterable:
  statement(s)

In [ ]:
list_angka = [1, 3, 5, 7, 9]

for i in list_angka:
  print(i)

1
3
5
7
9

In [ ]:
tuple_angka = (1, 2, 3, 4, 5, 6)

for i in tuple_angka:
  print(i)

1
2
3
4
5
6

In [ ]:
iter({2, 4, 6})

In [ ]:
# range
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 21, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# statement bisa lebih dari satu
for i in range (1,11):
  kuadrat = i*i # statement 1
  print(f'kuadrat {i} adalah {kuadrat}') #statement 2

kuadrat 1 adalah 1
kuadrat 2 adalah 4
kuadrat 3 adalah 9
kuadrat 4 adalah 16
kuadrat 5 adalah 25
kuadrat 6 adalah 36
kuadrat 7 adalah 49
kuadrat 8 adalah 64
kuadrat 9 adalah 81
kuadrat 10 adalah 100

In [ ]:
# terdapat 50 user_id dari 101-150
# kita akan memilih beberapa user
# dengan kriteria:
# jika nilai user_id adalah bilangan kelipatan 5 yang habis dibagi 2
# gunakan for loop dan cantumkan user yang masuk kriteria
# Hint: buat list kosong
# nilai user_id yang masuk kriteria dimasukkan ke dalam list kosong tsb
# Jawaban wahyu ningsih

user_id = []
choosen = []
for i in range (101,151):
  user_id.append(i)
  if i%5 == 0 and i%2 == 0:
    choosen.append(i)

print(user_id)
print(choosen)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]
[110, 120, 130, 140, 150]

In [ ]:
list_angka = [1, 3, 5, 7, 9]

for i in list_angka:
  print(i)

1
3
5
7
9

In [ ]:
# memunculkan index
for i in list_angka:
  print(f'index {list_angka.index(i)} bernilai {i}')

index 0 bernilai 1
index 1 bernilai 3
index 2 bernilai 5
index 3 bernilai 7
index 4 bernilai 9

In [ ]:
# kekurangan
list_angka = [1, 3, 5, 7, 9, 1]

for i in list_angka:
  print(f'index {list_angka.index(i)} bernilai {i}')

index 0 bernilai 1
index 1 bernilai 3
index 2 bernilai 5
index 3 bernilai 7
index 4 bernilai 9
index 0 bernilai 1

In [ ]:
# memunculkan indeks yang sesuai (.enumerate)
list_angka = [1, 3, 5, 7, 9, 1]

for i, x in enumerate(list_angka):
  print(f'index {i} bernilai {x}')

index 0 bernilai 1
index 1 bernilai 3
index 2 bernilai 5
index 3 bernilai 7
index 4 bernilai 9
index 5 bernilai 1

In [ ]:
# data iterable nya multidimensi
data = [[1, 'andi'],
        [2, 'toni'],
        [3, 'budi'],
        [6, 'jeni']]

for m, n in data:
  print(f'nomor {m}, namanya {n}')

for i in data:
  print(i)

nomor 1, namanya andi
nomor 2, namanya toni
nomor 3, namanya budi
nomor 6, namanya jeni
[1, 'andi']
[2, 'toni']
[3, 'budi']
[6, 'jeni']

In [ ]:
# membuat list baru dari suatu loop
nilai = [50, 60, 70, 80, 90, 30]
status = []

for i in nilai:
  if i >= 70:
    status.append('Lulus')
  else:
    status.append('Tidak Lulus')

print(status)

['Tidak Lulus', 'Tidak Lulus', 'Lulus', 'Lulus', 'Lulus', 'Tidak Lulus']

In [ ]:
# one liner loop
nilai = [50, 60, 70, 80, 90, 30]
status = ['Lulus' if i >= 70 else 'Tidak Lulus' for i in nilai]
print(status)

['Tidak Lulus', 'Tidak Lulus', 'Lulus', 'Lulus', 'Lulus', 'Tidak Lulus']

In [ ]:
# nested for
category_list = ['makanan', 'minuman', 'fashion', 'elektronik']
bundling_list = []

for i in category_list:
  category = i
  for y in category_list:
    if i != y:
      category2 = y
      bundling = i + '-' + y
      bundling_list.append(bundling)

In [ ]:
bundling_list

['makanan-minuman',
 'makanan-fashion',
 'makanan-elektronik',
 'minuman-makanan',
 'minuman-fashion',
 'minuman-elektronik',
 'fashion-makanan',
 'fashion-minuman',
 'fashion-elektronik',
 'elektronik-makanan',
 'elektronik-minuman',
 'elektronik-fashion']

challenge
- list_order = [10, 1, 2, 3, 25, 11, 22, 30, 35]
- tentukan ada berapa banyak customer yang orderannya di atas rata-rata
- tampilkan nilai rata-rata
- tampilkan orderan yang di atas rata-rata
- tampilkan jumlah orderan di atas rata-rata

In [ ]:
# jawaban wisnu arya
from statistics import mean

list_order = [10, 1, 2, 3, 25, 11, 22, 30, 35]
x = []
print(f'average = {mean(list_order)}')
for i in list_order:
  if i > mean(list_order):
    x.append(i)

print(x)
print(len(x))

average = 15.444444444444445
[25, 22, 30, 35]
4

In [ ]:
# looping pada dictionary
seller_category = {
    'A' : ['makanan', 'minuman', 'elektronik'],
    'B' : ['fashion', 'makanan'],
    'C' : ['minuman'],
    'D' : ['aksesoris', 'fashion']
}

for i in seller_category:
  print(f'seller {i} berjualan {seller_category[i]}')

seller A berjualan ['makanan', 'minuman', 'elektronik']
seller B berjualan ['fashion', 'makanan']
seller C berjualan ['minuman']
seller D berjualan ['aksesoris', 'fashion']

In [ ]:
for key, value in seller_category.items():
    print(f'seller {key} berjualan {value}')

seller A berjualan ['makanan', 'minuman', 'elektronik']
seller B berjualan ['fashion', 'makanan']
seller C berjualan ['minuman']
seller D berjualan ['aksesoris', 'fashion']

In [ ]:
# membuat dict baru dari suatu looping
new_dict = {}
for key, value in seller_category.items():
  if 'minuman' in value:
    new_dict.update({key : value})

print(new_dict)

{'A': ['makanan', 'minuman', 'elektronik'], 'C': ['minuman']}

In [ ]:
# dari seller category di atas, buat dictionary baru (new_seller)
# ambil data seller yang menjual fashion

## While loop

In [ ]:
# while loop
while expression:
  statement(s)

In [ ]:
i = 0
while i < 5:
  print(i)
  i += 1

0
1
2
3
4

In [ ]:
# break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# continue
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print('looping telah berhenti')

1
2
3
4
5
looping telah berhenti

In [ ]:
data = [1, 2, 3, 50, 45, 33, 70, 20]
target = 500
found = False
i = 0

while i < len(data) and not found:
  if data[i] == target:
    found = True
  else:
    i += 1

if found:
  print(f'target {target} found at index {i}')
else:
  print(f'target {target} tidak ditemukan')

target 500 tidak ditemukan

# Function

In [ ]:
def cetak_kalimat():
  print('belajar python itu mudah')

In [ ]:
cetak_kalimat()

belajar python itu mudah

In [ ]:
cetak_kalimat

In [ ]:
nilai.append

In [ ]:
# output fungsi
def perkalian(a,b):
  print(a*b)

In [ ]:
perkalian(4, 4)

16

In [ ]:
nilai = perkalian(5, 5)

25

In [ ]:
type(nilai)

NoneType

In [ ]:
# output fungsi (return)
def penjumlahan(a,b):
  return a + b

In [ ]:
penjumlahan(5, 6)

11

In [ ]:
nilai = penjumlahan (4, 4)

In [ ]:
nilai

8

In [ ]:
# default variabel
def belajar(var='python'):
  print(f'Saya sedang belajar {var}')

In [ ]:
belajar('fungsi')

Saya sedang belajar fungsi

In [ ]:
belajar()

Saya sedang belajar python

In [ ]:
# doc string
def deteksi_genap(var):
  '''
  ini adalah fungsi untuk mendeteksi suatu bilangan bernilai genap
  '''
  if var%2 == 0:
    print(f'{var} adalah angka genap')
  else:
    print(f'{var} adalah angka ganjil')

In [ ]:
deteksi_genap(12312812471)

12312812471 adalah angka ganjil

In [ ]:
# Challenge
# buatlah suatu fungsi yang bisa mendeteksi kata 'python'
# memberikan nilai true jika ketemu dan false jika tidak ditemukan
# untuk melakukan pengecekan silahkan gunakan metode input
# def cek kalimat
# input kalimat -> fungsi cek kalimat
# jawaban daffa sayyid
def deteksi_python(teks):
  if 'python' in teks.lower():
    return True
  else:
    return False

In [ ]:
input_teks = input('Masukkan teks: ')
hasil = deteksi_python(input_teks)
print(hasil)

Masukkan teks: Python adalah ular
True

In [ ]:
# pythonic way
def cek_python(teks):
  return 'python' in teks.lower()

In [ ]:
cek_python('Python')

True

In [ ]:
# *Args dan **Kwargs
def jumlah (a,b):
  return a + b

In [ ]:
jumlah(1,2)

3

In [ ]:
def jumlah (a,b,c):
  return a + b + c

In [ ]:
jumlah(1,2,3)

6

In [ ]:
def jumlah (*args):
  return sum(args)

In [ ]:
jumlah(1,2,3,4,5,6,7,4,5,6,7)

50

In [ ]:
# cek args
def cek (*args):
  print(args)

In [ ]:
cek(1,2,3,4,5,6, 'fajri')

(1, 2, 3, 4, 5, 6, 'fajri')

In [ ]:
# cek kwargs
def cek_kwargs(**kwargs):
  print(kwargs)

In [ ]:
# kwargs input banyak data dictionary
cek_kwargs(nama='Fajri', umur='19')

{'nama': 'Fajri', 'umur': '19'}

In [ ]:
def cek_berat(**kwargs):
  if 'budi' in kwargs:
    print('berat budi masuk ke kategori {}'.format(kwargs['budi']))
  else:
    print('budi tidak ada di database')

In [ ]:
cek_berat(budi='kurus', jeni='gemuk')

berat budi masuk ke kategori kurus

In [ ]:
# menggabungkan args dan kwargs
def fungsiku(*args, **kwargs):
  print('saya ingin membeli {} {} secara tunai'.format(args[0], kwargs['makanan']))

In [ ]:
fungsiku(10, 40, 50, makanan='mie ayam', minuman='es teh')

saya ingin membeli 10 mie ayam secara tunai

In [ ]:
# fungsi lambda
x = lambda a,b : a + b

In [ ]:
x(1,2)

3